element.style {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
footer,
header,
hgroup,
main,
nav,
section,
img {
    display: block;
}

@font-face {
    font-family: "Sports";
    src: url('fonts/sportsjersey.ttf');
}

li {
    list-style-type: none;
}

/* BEGIN MAIN FORMATTING */
.container {
    background-color: #ddb957;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
h1 {
    background-image: url('img/checkers.png');
}

.logo {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
}

/* HEADERS */
h2 {
    font-family: "Lobster";
    color: #bd532b;
    font-size: 1.5 em;
    text-align: center;
    width: 80%;
    padding: 2%;
    margin: auto;
    margin-top: 1%;
}

h3 {
    font-family: "Armata";
    color: #bd532b;
    font-size: 2em;
}

h4 {
    font-family: "Armata";
    color: #6b759b;
    font-size: 1.2m;
}

aside {
    background-color: #d9d9d9;
    padding: 3%;
}

/* NAV */
.buttons {
    margin: auto;
    width: 100%;
}

.buttons li {
    list-style-type: none;
    width: 40%;
    max-width: 200px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

div[class*=box] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    background-color: #6b759b;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
}

.btn-two {
    color: white;
    transition: all 0.5s;
    position: relative;
    font-family: "Armata";
    margin: 3%;
    font-size: 1.5em;
}

.btn-two span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid #ddb957;
}

.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid #6b759b;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}

/* ICONS */
.facebook {
    padding-top: 20px;
    width: 15%;
    margin-left: 24%;
    clear: none;
    display: inline;
    float: left;
}

.twitter {
    padding-top: 20px;
    width: 15%;
    margin-left: 20%;
    display: inline;
    clear: both;
}

/* INDEX PAGE FORMATIING */
.hours {
    font-size: 2.6rem;
    color: #6b7b9b;
}

figcaption {
    font-family: "Armata";
    font-size: 0.8rem;
    color: grey;
    text-align: center;
    font-style: italic;
    padding-top: 7px;
}

.cast,
.food,
.restaurant,
.eating,
.muffin,
.class,
.waitress,
.award,
.kramer {
    width: 80%;
    display: block;
    margin: auto;
    border: 2px solid #6b759b;
}

/* QUOTE */
.quote {
    text-align: center;
    font-size: 1rem;
    padding: 1%;
}

/* FOOTER */
footer {
    clear: both;
    width: 100%;
    background-color: #bd532b;
    font-family: 'Lobster';
    text-align: center;
    color: #d3d3d3;
    padding: 1%;
}

.footerlogo {
    width: 20%;
    display: block;
    margin: auto;
}

.phone,
.email,
.address,
.hours {
    background-color: #d3d3d3;
}

/* MENU PAGE */
.item {
    font-family: "Armata";
    color: #6b759b;
    font-size: 1.2rem;
    padding: 2%;
    line-height: 110%;
}

.category {
    font-size: 2rem;
}

.price {
    font-size: 0.7rem;
    font-weight: lighter;
}

.description {
    font-size: 0.8rem;
    font-style: italic;
}

/* ABOUT US */
.about {
    background-color: #d3d3d3;
    padding: 6%;
    line-height: 220%;
}

.aboutcategory {
    font-family: "Lobster";
    color: #6b759b;
    font-size: 1.7rem;
    padding: 2%;
    line-height: 220%;
    font-weight: bolder;
    line-height: 220%;
}

.aboutdetails {
    font-family: "Armata";
    color: #bd532b;
    font-style: italic;
    line-height: 220%;
}

/* FAME */
.fame {
    background-color: #d3d3d3;
    font-size: 0.9rem;
    padding: 2%;
}

.yellow {
    background-color: #ddb957;
}

.purple {
    background-color: #6b759b;
    color: #d3d3d3;
}

/* TEXTLINK */
.textlink {
    background-color: #bd532b;
    font-family: "Armata";
    text-align: center;
    width: 20%;
    margin: auto;
    margin-top: 10px;
    font-size: 1em;
    border: 3px solid #6b759b;
    text-decoration: none;
}

a {
    text-decoration: none;
    width: 100%;
    margin: auto;
    color: #ddb957;
}

a:hover {
    color: white;
}

.link {
    vertical-align: middle;
}

.arrow {
    width: 80%;
    display: inline;
    vertical-align: middle;
}

/* FLEXBOX GALLERY for COLORS */
.colors {
    padding: 0.5vw;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    padding-bottom: 4%;
}

.colors div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 100px;
    margin: 0.5vw;
    border: 2px solid #d9d9d9;
}

.colors div img {
    width: 100%;
    height: auto;
}

/* FLEXBOX GALLERY for IMAGES */
.images {
    padding: 0.5vw;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.images div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 160px;
    margin: 0.5vw;
    border: 2px solid #d9d9d9;
}

.images div img {
    width: 100%;
    height: auto;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
    .logo {
        width: 30%;
    }

    .btn-two {
        margin: 1%;
    }
    article.text {
        clear: none;
    }

    .as1 {
        width: 40%;
        float: right;
        clear: none;
        margin-right: 10%;
        border: 3px solid #6b759b;
    }

    div.box-2 {
        float: right;
        width: 100%;
    }

    .phone,
    .email,
    .address,
    .hours {
        font-size: 1.3rem;
        width: 17%;
        float: left;
        clear: none;
        margin: 1%;
        height: 54px;
        border: 1px solid #6b759b;
    }

    figcaption {
        display: none;
    }

    .cast {
        float: left;
        width: 40%;
        margin: 4%;
    }

    .restaurant {
        float: left;
        width: 40%;
        margin: 4%;
    }

    .as1,
    .quote {
        width: 100%;
        margin: auto;
    }

    .footerlogo {
        width: 10%;
    }

    /* MENU */

    .category {
        margin-top: 4%;
    }

    .item {
        font-size: 1.4rem;
    }

    .description {
        font-size: 1rem;
    }

    .breakfast,
    .lunch,
    .pie,
    .beverages {
        background-color: white;
        width: 40%;
        float: left;
        padding: 2%;
        height: 400px;
        margin: 3%;
    }

    .pie,
    .beverages {
        height: 300px;
    }
}
